h1 {
    text-align: center;
    color: red;
}

#heading-blurb{
    text-align: center;
}
#canvas{
    width: 500px;
    height: 250px;
    border-style: solid;
    border-color: #ff0000 #0000ff;
}

.movable{
    background-color: blue;
    width: 25px;
    height: 25px;
}
