.content-box {
    border-radius: 5px;
    border: solid 1px #000000;
    margin: 0 1%;
    background-color: #188C77;
}

#content {
    overflow: auto;
}
.login-signup {
    width: 33%;
    float: right;
    margin-left: 0.5%;
}
.intro {
    width: 64%;
    float: left;
    margin-right: 0.5%;
}

/*
  ========================================
  Clearfix
  ========================================
*/
#content:before,
#content:after {
  content: "";
  display: table;
}
#content:after {
  clear: both;
}
#content {
  clear: both;
  *zoom: 1;
}

/*
==================================
Typography
==================================
*/
.text {
    color: #FFFCED;
    font-family: 'Nunito', san-serif;
}

.text-centre {
    text-align: center;
}
/*
==================================
Buttons
==================================
*/

.btn {
    border-radius: 5px;
    display: inline-block;
    margin: 0;
}
.btn-alt {
    width: 115px;
    border: solid 1px black;
    padding: 10px 20px;
    text-decoration: none;
}
